<% provide(:title, 'Avantages') %>
<h1>Avantages</h1>

<center>
<%= image_tag("idathletique/avantages.png", :alt => "homepage banner", :size => "500x500") %>
</center>
</br>
Standardization:  ADN inclus une evaluation qui permet de crée une base  au niveau des prérequis fonctionelle 
</br>
</br>
Un fois le niveau de standardization atteind, nous sommes en mesure de presrire une multitude d'exercies puisées de notre programme fondation
</br>
</br>
Prévention- ADN peut mettre en lumiere certaine restriction ou patron moteur qui peuvent consituer un risque éléve de blessure. 
</br>
</br>
Le système est conçu pour tous les praticiens et tous les niveaux de l'organisation : directeurs, responsables, entraîneurs, personnel médical, kinésithérapeutes, administrateurs, scientifiques du sport, nutritionnistes, etc. et, grâce a solution ADN, les athlètes peuvent accéder au système  a tout heure de la journée où qu'ils soient a travers le monde. 
</br>
</br>
Chaque utilisateur a son rôle à jouer dans le fonctionnement du système, qui s'en trouve ainsi optimisé.
</br>
</br>
Que se soit une blessure survenue durant le cours d'éducation physique, ou un patient qui c'est blessé a la maison, la communication entre les dfférent inertevenat sera grandement facilité et ont évitera ainsi des rapport faits sur des feuilles de papiers
</br>
</br>
 Soyez prêt pour l'école, les équipes sportives  en faisant le suivre le dossier sportif de vos enfants dans votre compte familial. Vous n'aurez plus à demander à la secrétaire du physio de vous télécopier les dossiers (comme l'historique des blessures) chaque fois que vous en avez besoin.
</br>
</br>
Le système de gestion des athlètes est conçu pour les clubs et les associations qui souhaitent maximiser les performances, éviter des blessures et identifier les futurs talents parmi les jeunes afin de les propulser aux niveaux superieur en santé et prêt..
</br>
</br>
<b>Gain de temps</b>
<ul>
Réduction considérable du temps passé à entrer les données -
</br>
Avec le moteur d'analyse puissant (panneau de commandes), les analyses manuelles ne sont plus du tout nécessaires.
</br>
Simplicité de l'accès à toutes les informations, à travers une seule base de données centralisée - pas de recherches/fouilles requises
</br>
Permet de se concentrer uniquement sur les informations pertinentes et de ne pas s'embourber dans des données moins utiles.
</br>
Les rapports sont disponibles par un simple clic.
</br>
</ul>
<b>Frais médicaux / Personnel</b>
<ul>
Réduction de la dépendance vis-à-vis des consultants externes.
L'identification des tendances des blessures permet de réduire les dépenses médicales consacrées aux blessures
L'identification des meilleures pratiques en matière de réadaptation permet de réduire les frais médicaux.
L'auto-évaluation via le ADN permet au client d'avoir accès a des solutions correctives,  programmes d'entraînement adaptés à la condition courante des athlètes, réduisant ansi les risques de blessures.
</ul>

La mise en oeuvre de systèmes de soins assure le suivi et la gestion des interventions selon les meilleures pratiques et l'efficacité financière entre les disciplines des sciences des sports.

