<% provide(:title, 'Decouvrir') %>

<b>Qu'est-ce que la solution ADN ?</b>
<br/>

ADN  est a la fois un service et une platforme web qui vous permette de collecter différente données  en liens avec le sport autant recreatif que de performance. Nous vous aidons à SimplifIer, Syntétiser et Systématiser  toutes  l'informations  ayant trait au developpement à long terme de l'athlète.  Cet  solutions est  orientées afin de promouvoir des décisions proactives en matière santé,  prévention de blessure et performance sportive.
<br/>
<br/>
<center>
<%= image_tag("idathletique/decouvrir.png", :alt => "homepage banner", :size => "500x500") %>
</center>
<br/>
<br/>
La solution ADN est un produit développé pour les
<ul>
<li>Associations/clubs sportive</li>
<li>Équipes sportives</li>
<li>École primaire</li>
<li>École secondaire</li>
<li>École collégial</li>
<li>université</li>
<li>Professionnels de la santé</li>
</ul>
</p>