<div class="center hero-unit">
  <%= image_tag("idathletique/homepage_banner.png", :alt => "homepage banner") %>
  <!--h1>Solution ADN</h1>

  <h2>
    Bienvenue!
  </h2-->

  <%= link_to "Inscrivez-vous maintenant", inscription_path, class: "btn btn-large btn-primary" %>
</div>