<%= hidden_field_tag "equipe[user_ids][]", nil %>
    <div>
      <ul class="checkbox-grid">
      <% User.order(:name).each do |user| %>
      <li>
        <div class="checkboxes">
        <%= check_box_tag "equipe[user_ids][]", user.id, @equipe.user_ids.include?(user.id), id: dom_id(user) %>
        <%= label_tag dom_id(user), user.name %>
        </div>
      </li>
      <% end %>
      </ul>
    </div>