<% provide(:title, 'Programme Corrective') %>
</br>
</br>
<table class="exercices">
    <tr>
      <th>Img----</th>
      <th>---</th>
      <th>Exercice-----------------------</th>
    </tr>

<div class="row">
  <div class="span6 offset3">
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= image_tag exercise.image.url(:thumbnail) %><td>
        <td><%= exercise.name %></td>
      </tr>
    <% end %>
  </table>
