<ul class="nav nav-list">
  <li class="nav-header">Parent/Administrator</li>
  <li><a href="#">Consulter le dossier général de son enfant</a></li>
  <li><a href="#">Déclarer une blessure</a></li>
  <li><a href="#">Entrée de l’information sur son enfant</a></li>
  <li><a href="#">Milestone</a></li>
  <li><a href="#">Autre</a></li>
</ul>
