<ul class="nav nav-list">
  <li class="nav-header">Athlete</li>
  <li><a href="#">Consulté son dossier Général</a></li>
  <li><a href="#">Entrer Information général</a></li>
  <li><a href="#">Entrer information personnel :  journal de l’athlète</a></li>
  <li><a href="#">Autre</a></li>
</ul>
