<ul class="nav nav-list">
  <li class="nav-header">Professional</li>
  <li><a href="#">Consultation des rapports de blessures</a></li>
  <li><a href="#">Consultation des horaires</a></li>
  <li><a href="#">Consultation de rapport d’évaluations fonctionnelles</a></li>
  <li><a href="#">Résultats de rapport d’évaluations physiques</a></li>
  <li><a href="#">Consultation des rapports de ses entraineurs</a></li>
  <li><a href="#">Consultation des rapports des professionnels de la santé</a></li>
</ul>