<ul class="nav nav-list">
  <li class="nav-header">Professional</li>
  <li><a href="#">Ajouter ou supprimer un client</a></li>
  <li><a href="#">Déclarer une blessure</a></li>
  <li><a href="#">Faire un programme d’exercice de réhabilitation\prévention</a></li>
  <li><a href="#">Envoyé information au entraineurs /Parents</a></li>
</ul>

