<ul class="nav nav-list">
  <li class="nav-header">Trainer</li>
  <li><a href="#">Ajouter ou supprimer un individu</a></li>
  <li><a href="#">Évaluer et Entrer les données de tests</a></li>
  <li><a href="#">Déclarer une blessure</a></li>
  <li><a href="#">Faire un programme d’exercice</a></li>
  <li><a href="#">Entrer l’horaire de match / Pratique / Tournois</a></li>
  <li><a href="#">Faire un Bilan : Rapport Sur l’athlète  points fort VS point à améliorer</a></li>
  <li><a href="#">Consulter Statistique</a></li>
</ul>
