<footer class="footer">
  <small>
    Contactez-nous: <a href="mailto:fabrice@idathletique.com">Team ADN</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Nouvelles...",   '#' %></li>
    </ul>
  </nav>
</footer>